<%= render "shared/header" %>

<%= link_to "新規投稿", new_report_path, class: 'btn'%>
<% @reports.each do |report| %>
  <% if report.user.present? %>
    <div class ="report-list">
      <div class="report-list-date">
        <div class="report-list-date-title">
          ユーザー
        </div>
        <div class="report-list-date-result">
          <%= report.user.nickname %>
        </div>
      </div>
      <div class="report-list-date">
        <div class="report-list-date-title">
          作成日
        </div>
        <div class="report-list-date-result">
          <%= report.created_at.strftime('%Y-%m-%d') %>
        </div>
      </div>
      <div class="report-list-date">
        <div class="report-list-date-title">
          商談数
        </div>
        <div class="report-list-date-result">
          <%= report.negotiation %>
        </div>
      </div>
      <div class="report-list-date">
        <div class="report-list-date-title">
          成約数
        </div>
        <div class="report-list-date-result">
          <%= report.negotiation_obtain %>
        </div>
      </div>
      <div class="report-list-date">
        <div class="report-list-date-title">
          失注数
        </div>
        <div class="report-list-date-result">
          <%= report.negotiation_lost %>
        </div>
      </div>
      <div class="report-list-date">
        <div class="report-list-date-title">
          反省点
        </div>
        <div class="report-list-date-result">
          <%= report.introspection %>
        </div>
      </div>
    </div>
  <% else %>
    <div>
      <p>ユーザー情報が見つかりませんでした。</p>
    </div>
  <% end %>
<% end %>